<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../Styles/style.css" />
  </head>
  <body class="front-matter">
    <h1>{{ title }}</h1>
{% if author %}
    <p class="author">作者：{{ author }}</p>
{% endif %}
    <p class="intro-label">简介</p>
{% for paragraph in paragraphs %}
    <p>{{ paragraph }}</p>
{% endfor %}
  </body>
</html>
