<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
  </head>
  <body>
    <nav epub:type="toc" id="toc" xmlns:epub="http://www.idpf.org/2007/ops">
      <h1>目录</h1>
      <ol>
{% for section in sections %}
        <li><a href="{{ section.href }}">{{ section.title }}</a></li>
{% endfor %}
      </ol>
    </nav>
  </body>
</html>
