<?xml version="1.0" encoding="utf-8"?>
<ncx xmlns="http://www.daisy.org/z3986/2005/ncx/" version="2005-1">
  <head>
    <meta name="dtb:uid" content="{{ title }}" />
  </head>
  <docTitle>
    <text>{{ title }}</text>
  </docTitle>
  <navMap>
{% for section in sections %}
    <navPoint id="navPoint-{{ loop.index }}" playOrder="{{ loop.index }}">
      <navLabel>
        <text>{{ section.title }}</text>
      </navLabel>
      <content src="{{ section.href }}" />
    </navPoint>
{% endfor %}
  </navMap>
</ncx>
